/* Golden Rod Palette */
  --color-golden-rod-50: #fefbf5;
  --color-golden-rod-100: #fdf7ea;
  --color-golden-rod-200: #faebcb;
  --color-golden-rod-300: #f6deac;
  --color-golden-rod-400: #f0c66d;
  --color-golden-rod-500: #E9AD2F;
  --color-golden-rod-600: #d29c2a;
  --color-golden-rod-700: #af8223;
  --color-golden-rod-800: #805f1a;
  --color-golden-rod-900: #5d4513;
  --color-golden-rod-950: #3a2b0c;

/* Black Beauty Palette */
  --color-black-beauty-50: #f4f4f4;
  --color-black-beauty-100: #eae9ea;
  --color-black-beauty-200: #c9c9ca;
  --color-black-beauty-300: #a9a9aa;
  --color-black-beauty-400: #69686a;
  --color-black-beauty-500: #28272A;
  --color-black-beauty-600: #242326;
  --color-black-beauty-700: #1e1d20;
  --color-black-beauty-800: #161517;
  --color-black-beauty-900: #101011;
  --color-black-beauty-950: #0a0a0b;

/* Barbados Cherry Palette */
  --color-barbados-cherry-50: #fbf3f4;
  --color-barbados-cherry-100: #f7e7ea;
  --color-barbados-cherry-200: #eac2ca;
  --color-barbados-cherry-300: #dd9ea9;
  --color-barbados-cherry-400: #c45569;
  --color-barbados-cherry-500: #AB0C29;
  --color-barbados-cherry-600: #9a0b25;
  --color-barbados-cherry-700: #80091f;
  --color-barbados-cherry-800: #5e0717;
  --color-barbados-cherry-900: #440510;
  --color-barbados-cherry-950: #2b030a;

/* Formal Garden Palette */
  --color-formal-garden-50: #f4f6f5;
  --color-formal-garden-100: #eaeeea;
  --color-formal-garden-200: #cad4cb;
  --color-formal-garden-300: #aab9ac;
  --color-formal-garden-400: #6a856d;
  --color-formal-garden-500: #2A512F;
  --color-formal-garden-600: #26492a;
  --color-formal-garden-700: #203d23;
  --color-formal-garden-800: #172d1a;
  --color-formal-garden-900: #112013;
  --color-formal-garden-950: #0b140c;

