---
import HeaderTitle from "./atoms/HeaderTitle.astro";

import muscleIcon from '../assets/images/icono_fuerza.svg'; 
import brainIcon from '../assets/images/icono_cerebro.svg'; 
import heartIcon from '../assets/images/icono_corazon.svg'; 
---

<section id="benefits" class="min-h-screen w-full bg-white flex flex-col justify-center items-center py-20 px-8">
  <div class="max-w-7xl w-full flex flex-col items-end mb-20 px-4 md:px-0">
     <div class="w-full md:w-auto text-right md:mr-20">
         <HeaderTitle class="items-end md:items-start" lineColor="golden-rod-500">
             BENEFICIOS <br> DEL KARATE-DO
         </HeaderTitle>
     </div>
  </div>

  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12 w-full">
    
    <!-- Column 1: Fortaleza Física -->
    <div class="flex flex-col items-center text-center gap-6">
      <div class="h-32 w-32 flex items-center justify-center">
        <img src={muscleIcon.src} alt="Muscle Icon" class="w-24 h-24"/>
      </div>
      
      <div class="flex flex-col items-center">
        <h3 class="text-2xl font-bebas font-bold tracking-wide uppercase border-b-4 border-golden-rod-500 pb-1 mb-4">
          FORTALEZA FÍSICA
        </h3>
        <div class="text-sm font-light leading-relaxed space-y-4">
             <p>
                 <strong class="font-bold">Acondicionamiento Total:</strong><br/>
                 Mejora la fuerza muscular, la flexibilidad y la coordinación motriz.
             </p>
             <p>
                 <strong class="font-bold">Salud Cardiovascular:</strong><br/>
                 Un entrenamiento que potencia la resistencia y la capacidad pulmonar.
             </p>
             <p>
                 <strong class="font-bold">Reflejos y Agilidad:</strong><br/>
                 Desarrolla una respuesta rápida y un control total sobre los movimientos del cuerpo.
             </p>
        </div>
      </div>
    </div>

    <!-- Column 2: Equilibrio Mental -->
    <div class="flex flex-col items-center text-center gap-6">
       <div class="h-32 w-32 flex items-center justify-center">
         <img src={brainIcon.src} alt="Brain Icon" class="w-24 h-24"/>
       </div>
       
       <div class="flex flex-col items-center">
        <h3 class="text-2xl font-bebas font-bold tracking-wide uppercase border-b-4 border-golden-rod-500 pb-1 mb-4">
          EQUILIBRIO MENTAL
        </h3>
        <div class="text-sm font-light leading-relaxed space-y-4">
             <p>
                 <strong class="font-bold">Reducción del Estrés:</strong><br/>
                 El dojo es un espacio para liberar tensiones y encontrar claridad mental.
             </p>
             <p>
                 <strong class="font-bold">Enfoque y Concentración:</strong><br/>
                 La práctica de Katas ayuda a mejorar la memoria y la atención sostenida.
             </p>
             <p>
                 <strong class="font-bold">Confianza en uno mismo:</strong><br/>
                 Superar retos en el tatami se traduce en seguridad para enfrentar retos en la vida diaria.
             </p>
        </div>
       </div>
    </div>

    <!-- Column 3: Formación de Carácter -->
    <div class="flex flex-col items-center text-center gap-6">
        <div class="h-32 w-32 flex items-center justify-center relative">
          <img src={heartIcon.src} alt="Heart Icon" class="w-24 h-24"/>
        </div>
        
        <div class="flex flex-col items-center">
         <h3 class="text-2xl font-bebas font-bold tracking-wide uppercase border-b-4 border-golden-rod-500 pb-1 mb-4">
           FORMACIÓN DE CARÁCTER
         </h3>
         <div class="text-sm font-light leading-relaxed space-y-4">
              <p>
                  <strong class="font-bold">Disciplina y Autocontrol:</strong><br/>
                  Aprender a dominar los impulsos y seguir un código de conducta (Dojo Kun).
              </p>
              <p>
                  <strong class="font-bold">Respeto y Cortesía:</strong><br/>
                  Fomentamos el respeto hacia los compañeros, instructores y hacia la propia comunidad.
              </p>
              <p>
                  <strong class="font-bold">Resiliencia:</strong><br/>
                  El Karate enseña que el fracaso es solo un paso más en el camino del aprendizaje.
              </p>
         </div>
        </div>
     </div>

  </div>
</section>
