---
import HeaderTitle from "./atoms/HeaderTitle.astro";
import Accordion from "./atoms/Accordion.astro";

const faqs = [
  {
    question: "¿A partir de qué edad pueden inscribirse los niños?",
    answer: "Los niños pueden iniciar su formación en karate a partir de los 3 años de edad, integrándose a programas adaptados a su desarrollo físico, cognitivo y emocional."
  },
  {
    question: "¿Necesito tener una condición física previa para empezar?",
    answer: "No es necesario. El programa está diseñado para todos los niveles, desde principiantes sin experiencia hasta practicantes avanzados. La condición física se desarrolla progresivamente durante el entrenamiento."
  },
  {
    question: "¿Qué ropa debo llevar si no tengo el uniforme (karategui)?",
    answer: "Puede iniciar con ropa deportiva cómoda (franela y mono deportivo). El uso del uniforme (karategui) se indicará posteriormente como parte del proceso formativo."
  },
  {
    question: "¿Los adultos también pueden entrenar o solo es para niños?",
    answer: "El programa está abierto tanto para niños, jóvenes y adultos. El karate es una disciplina integral que se adapta a cualquier edad."
  },
  {
    question: "¿Tengo que tener experiencia previa para inscribirme?",
    answer: "No. No se requiere experiencia previa. El programa está estructurado para que cualquier persona pueda comenzar desde cero y avanzar de manera progresiva."
  }
  // {
  //   question: "¿Qué pasa si mi hijo es muy tímido o muy inquieto?",
  //   answer: "El karate es ideal para ambos casos. Ayuda a los niños tímidos a ganar confianza en sí mismos y a los niños con mucha energía a canalizarla de forma positiva y estructurada."
  // }
];
---

<section id="faqs" class="max-w-7xl mx-auto px-4 md:px-12 py-20 ">
  <div class="mb-12">
    <HeaderTitle class="text-left" lineColor="golden-rod-500">
      FAQS <br> [PREGUNTAS FRECUENTES]
    </HeaderTitle>
  </div>

  <div class="flex flex-col gap-2 max-w-4xl">
    {
      faqs.map((faq) => (
        <Accordion 
          title={faq.question} 
          description={faq.answer} 
        />
      ))
    }
  </div>
</section>
