---
import HeaderTitle from "./atoms/HeaderTitle.astro";
---

<section class="flex-1 w-screen bg-white flex flex-row items-center justify-between px-12">
    <!-- <div class="header-image w-full h-full"></div> -->
    <div class="flex flex-col items-center justify-center">
        <span class="text-black font-light mx-auto uppercase">Academia de karate-do</span>
        <div>
             <h2 class="text-black text-8xl font-bebas tracking-wider font-bold">
                DOJO MINARAI
            </h2>
            <span class="text-black font-raleway font-light mx-auto">El aprendizaje <br> mediante la observación</span>
        </div>
    </div>
    <div>
        <img src="https://placehold.co/600x400" alt="Promocion" />
    </div>
</section>