---
import Navbar from "./navbar/index.astro";
import Heading from "./Heading.astro";
---

<div class="h-auto w-screen">
	<div class="flex flex-col h-screen">
		<Navbar />
		<Heading />
	</div>
</div>